@{
    ViewData["Title"] = "Menú de Aplicativo";
}

<h2>Menú de Aplicativo</h2>
<ul>
    <li><a href="#">Opción 1</a></li>
    <li><a href="#">Opción 2</a></li>
    <li><a href="#">Opción 3</a></li>
</ul>
